backports.entry-points-selectable==1.1.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.2
Django==1.11.29
django-cors-headers==3.0.2
filelock==3.0.12
gTTS==2.2.3
gyp==0.1
idna==2.10
importlib-metadata==2.1.1
importlib-resources==3.3.1
numpy==1.16.6
pathlib2==2.3.6
platformdirs==2.0.0
playsound==1.2.2
pytz==2020.4
requests==2.26.0
scandir==1.10.0
selenium==3.141.0
singledispatch==3.6.2
six==1.16.0
soupsieve==1.9.6
typing==3.10.0.0
urllib3==1.26.6
virtualenv==20.5.0
zipp==1.2.0
